<form method="get" action="{{ action }}">
    <input type="hidden" name="token" value="{{token}}" />
    <input type="hidden" name="execute" id="execute" value=0 />
    <input type="hidden" name="uselang" id="uselang" value="{{uselang}}" />

    <p>{{ wfMessage("donate_interface-email-unsub-confirm", email) }}</p>
    <p>{{ wfMessage("donate_interface-email-unsub-delay", help_email) }}</p>

    <input type="submit" id="unsubscribe" value="{{ wfMessage('donate_interface-email-unsub-button') }}" />
    <input type="submit" value="{{ wfMessage('donate_interface-cancel') }}" />
</form>
